/AutoMed5/.vscode/
/AutoMed5/node_modules/
/AutoMed5/jsonDia
/AutoMed5/frames
/AutoMed5/processd
/AutoMed5/temp

/AutoMedReact/AutoMed/node_modules/
/AutoMedReact/AutoMed/.vscode/
/AutoMedReact/AutoMed/expo

